@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    direction: rtl;
    font-family: "Cairo", sans-serif;
}

a{
    border-radius: 50px !important;
}

.section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
/*Navbar Start*/
.navbarStyle {
    border-radius: 30px;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #EBE8DB;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translateY(-100%);
    opacity: 0;
}

.navbarSlide {
    transform: translateY(0);
    opacity: 1;
}

.navbar .navbar-brand{
    width: 10%;
}

.navCont{
    width: 80%;
}
.navbar-nav{
    width: 50%;
}

.navbar .nav-item, .nav-link{
    width: 100% !important;
    color: #3D0301 !important;
}

.navbar .nav-item a::after{
    content: " ☽";
    color: #FFCF50;
    opacity: 0;
  }

  .navbar .nav-item a::before{
    content: " ☾";
    color: #FFCF50;
    opacity: 0;
  }

  .navbar .nav-item a:hover{
    color: #D76C82;
  }

  .navbar .nav-item a:hover::after{
    opacity: 1;
  }

  .navbar .nav-item a:hover::before{
    opacity: 1;
  }

.left{
    width: 100%;
}

.leftCont{
    width: 30%;
}
/*Navbar End*/

/*Hero Start*/

.hero {
    margin-top: -100px;
    background-color: #3D0301;
    height: 80vh;
    display: flex;
}

.hero .content{
    margin-top: 15%;
    margin-right: 5%;
    color: #EBE8DB;
}

.firstBtn{
    background-color: #FFCF50 !important;
    color: #3D0301;
    margin-left: 2%;
    transition: all 0.5s;
}

.secondBtn{
border: 1px solid #FFCF50;
color: #FFCF50;
transition: all 0.5s;
}

.secondBtn:hover{
    color: #FFCF50;
    transform: scale(1.1);
}

.firstBtn:hover{
    transform: scale(1.1);
}

.content p {
    color: #EBE8DB;
}

.content .btn-primary{
background-color: #3D0301 !important;
border: none;
}

.navbar {
    z-index: 1000;
}

/* #heroImg{
    position: relative;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translateY(-100%);
    opacity: 0;
}

.heroImgLoad{
    transform: translateY(0);
    opacity: 1;
} */



/*Hero End*/

section{
    margin-top: 10%;
}

#giftSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #giftSection .giftContent {
    text-align: center;
    justify-items: center;
    color: #3D0301 !important;
  }
  #giftSection .giftContent #giftImg {
    margin-bottom: 3%;
  }
  #giftSection .giftContent #giftInstructions {
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 3% 0 3% 0;
  }
  #giftInstructions i {
    font-size: 50px !important;
    color: #D76C82;
  }

  /*/////////////////*/
  #donateNow {
    height: 360px;
    background-color: #3D0301;
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 5%;
  }
  #donateNow .img {
    background-image: url("/images/girlImg.png");
    mix-blend-mode: luminosity;
    opacity: 0.6;
    flex: .5;
    background-repeat: no-repeat;
  }
  #donateNow .content {
    flex: 1;
    align-self: center;
    text-align: center;
    color: #EBE8DB;
  }
  #donateNow .content p {
    font-size: 2rem;
  }
  #donateNow .content p span {
    font-size: 3rem;
  }
  #donateNow .content button {
    height: 50px;
    width: 35%;
    border-radius: 30px;
    color: #EBE8DB;
    background-color: transparent;
    border: 3px solid #D76C82;
    transition: all 0.5s;
  }
  #donateNow .content button:hover {
    transform: scale(1.1);
  }
  
  footer a {
    text-decoration: none;
  }

  /*////////////////////////*/

  #newsCards {
    margin-bottom: 5%;
    justify-items: center;
  }
  #newsCards .container {
    max-width: 1280px;
    margin: 3rem auto;
    padding: 1rem;
    line-height: 1.25;
    font-weight: 500;
  }
  #newsCards button {
    font-size: 1rem;
    padding: 0.35em 0.75em;
    line-height: 1;
    background-color: transparent;
    border: 3px solid #D76C82 !important;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.1s;
    outline: 0;
    color: #D76C82 !important;
    text-align: center;
  }
  #newsCards button:hover {
    background-color: #D76C82 !important;
    color: #FAFAFA !important;
  }
  
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
  }
  @media (max-width: 1140px) {
    .posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .posts {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .post__image {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .post__image:before, .post__image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .post__image:before {
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    filter: blur(0);
    transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
    border-radius: 10px;
  }
  .post__image:after {
    background: linear-gradient(30deg, #3D0301 0%, #D76C82 100%);
    background-size: 100% 300%;
    background-position: bottom left;
    opacity: 0.15;
    transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
  }
  .post__image--1:before {
    background-image: url("/images/iftar.jpg");
  }
  .post__image--2:before {
    background-image: url("/images/charity.jpg");
  }
  .post__image--3:before {
    background-image: url("/images/eid.jpg");
  }
  .post__content {
    margin: -3rem 1.5rem 0;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
    transition: margin 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .post__inside {
    overflow: hidden;
    height: 4.85rem;
    transition: height 0.2s ease-in-out;
  }
  .post__title {
    font-size: 1.35rem;
    line-height: 1;
    margin: 0 0 1rem;
    color: #3D0301;
    text-align: right;
  }
  .post__excerpt {
    overflow: hidden;
    margin: 0;
    max-height: 6.25rem;
    position: relative;
    text-align: right;
    color: #3D0301;
    font-weight: 400;
  }
  .post__button {
    margin-top: 1rem;
  }
  
  /* ====== HOVER ====== */
  .post:hover .post__content {
    margin-top: -9.8rem;
  }
  .post:hover .post__inside {
    height: 11.65rem;
  }
  .post:hover .post__image:after {
    opacity: 0.5;
  }
  .post:hover .post__image:before {
    transform: scale(1.1);
    filter: blur(10px);
  }
  